.shoppingListItem {
    display: inline-flex;
    width: 10%;
    height: 30px;
    margin-top: 1m;
    margin-bottom: 1em;
}

.shoppingListItemButton {
    margin-left: 3em;
}

.shoppingListItem:before {
    content:"-";
    margin-right: 0.5em;
}